################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Hello World/Hello World/obj/Release/netcoreapp2.1
/HelloWorld2/HelloWorld2/obj/Release/netcoreapp2.1
/newQrCode
/Sanford.Multimedia.Midi-master
/WindowsFormsApplication1
/WindowsFormsHelloWorld
/WindowsFormsQr
/WpfHelloWorld
/XamarinHelloWorld
/.vs
